<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <!--<add name="EnronAzureSQL" connectionString="Server=tcp:zeatcamp16.database.windows.net,1433;Database=enron_thfl;User ID=zeatcamp16@zeatcamp16;Password=Storchennest16;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add name="MongoDbSource" connectionString="mongodb://ub15-zeatcamp16.westeurope.cloudapp.azure.com:27017" />
    <!--<add name="enronEntities" connectionString="metadata=res://*/Models.EnronSql.csdl|res://*/Models.EnronSql.ssdl|res://*/Models.EnronSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zeatcamp16.database.windows.net;initial catalog=enron_thfl;persist security info=True;user id=zeatcamp16;password=Storchennest16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SQLDestination" connectionString="metadata=res://*/Models.EnronSql.csdl|res://*/Models.EnronSql.ssdl|res://*/Models.EnronSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zeatcamp16.database.windows.net;initial catalog=enron_thfl;persist security info=True;user id=zeatcamp16;password=Storchennest16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnronSqlContext" connectionString="metadata=res://*/Models.EnronSql.csdl|res://*/Models.EnronSql.ssdl|res://*/Models.EnronSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zeatcamp16.database.windows.net;initial catalog=enron;persist security info=True;user id=zeatcamp16;password=Storchennest16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BatchSize" value="10" />
    <add key="MailBoxMatchPattern" value="^[a-m].*" />
  </appSettings>
</configuration>